{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block header %}
    {% include 'inc/header.html.twig' %}
{% endblock %}
{% block body %}

    <script async>
        window.onload = function ()
        {
            document.getElementById("resolution").value = screen.height + 'x' + screen.width;
        }
    </script>

    <div id="myCarousel" style="margin-top: -15px" class="bg-success" data-bs-ride="carousel">
        <div id="carousel">
            <div class="btn-bar">
                <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div></div>
            <div id="slides">
                <ul>
                    {% for slide in slides %}

                        <li class="slide">
                            <div class="quoteContainer">
                                <p class="quote-phrase"><span class="quote-marks">"</span>
                                    {{ slide.text}}
                                    <span class="quote-marks">"</span>
                                </p>
                            </div>
                        </li>

                    {% endfor %}

                </ul>
            </div>

        </div>
    </div>


    <div class="container p-5">
        <div class="mb-4">
            <div id="alert" class="form-error"></div>
            <div id="alert" class="form-success">
                {% for message in app.flashes('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
        <div>
            <form method="post" action="/url/create" onsubmit="return createShortUrl()">
                <div class="input-group mb-3">
                    <input type="hidden" name="resolution" id="resolution" />
                    <input type="text" name="url" id="urlinput" class="form-control form-control-lg" placeholder="Put your url here" aria-label="Put your url here" aria-describedby="urlinputbtn">
                    <input class="btn text-white" style="background-color: indigo" type="submit" id="urlinputbtn" value="Shorten">
                </div>
            </form>

            <div class="d-flex p-4 justify-content-between align-items-center">
                {% for page in link %}
                    <div class="small"><a style="text-decoration: none" class="badge btn btn-link text-dark decoration-none" href="/pages/{{ page.id }}">{{ page.title }}</a> </div>
                {% endfor %}
            </div>


        </div>


    </div>

{% endblock %}

{% block footer %}
    {% include 'inc/footer.html.twig' %}
{% endblock %}
