<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.7/holder.min.js" integrity="sha512-O6R6IBONpEcZVYJAmSC+20vdsM07uFuGjFf0n/Zthm8sOFW+lAq/OK1WOL8vk93GBDxtMIy6ocbj6lduyeLuqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <title>{% block title %}Short URL{% endblock %}</title>

    <style>
        .b{
            font-weight: bold;
        }
    </style>
</head>
<body>
{% block header %}
{% set route_name = app.request.get('slug') %}

    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand">{{ app.user.username }}</a>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "" %} active b{% endif %}" aria-current="page" href="/admin">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "pages" %} active b{% endif %}" href="/admin/pages">Pages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "urls" %} active b{% endif %}" href="/admin/urls">Urls</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "slides" %} active b{% endif %}" href="/admin/slides">Text Slides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "stats" %} active b{% endif %}" href="/admin/stats">Statistics</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "members" %} active b{% endif %}" href="/admin/members">Members</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if route_name == "setting" %} active b{% endif %}" href="/admin/setting">Setting</a>
                        </li>
                    </ul>
                    <div>
                        <a href="/logout" class="btn btn-sm btn-danger">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pt-5">
        <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
            <img class="me-3 rounded" src="holder.js/40x40?text=?&random=yes" alt="" width="48" height="38">
            <div class="lh-1">
                <h2 class="h6 mb-0 text-white lh-1">Welcome</h2>
                <small>{{ app.user.username }}</small>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}{% endblock %}
<script src="{{ asset('assets/js/app.js') }}" type="application/javascript"></script>
</body>
</html>
