{% extends 'admin/base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        .bg-purple{
            background-color: purple;
        }
    </style>

    <body class="bg-light">

    <main class="container">

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0">Latest Urls</h6>
            <table class="table table-success table-striped table-sm table-hover">
                <thead>
                <tr>
                    <td><b>Profile pic</b></td>
                    <td style="text-align: center"><b>User</b></td>
                    <td><b>Random text</b></td>
                    <td><b>Target url</b></td>
                </tr>
                </thead>
            {% for url in urls %}
                <tr>
                    <td style="padding-left: 15px">
                        <img src="holder.js/32x32?text=😊&random=yes" class="bd-placeholder-img flex-shrink-0 me-2 rounded">
                    </td>
                    <td style="text-align: center">
                        {% if url.userid == 0 %} Guest {% else %} {{ url.userid}} {% endif %}
                    </td>
                    <td>{{ url.urlHash }}</td>
                    <td>{{ url.url }}</td>
                </tr>
            {% endfor %}
            </table>
            <small class="d-block text-end mt-3">
                <a href="/admin/urls">All Urls</a>
            </small>
        </div>

        <div class="my-3 p-3 bg-body rounded shadow-sm">

            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Pages</h2>
                            <a href="/admin/pages" type="button" class="w-100 btn btn-lg btn-outline-primary">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Urls</h2>
                            <a href="/admin/urls" type="button" class="w-100 btn btn-lg btn-outline-primary">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Text Slides</h2>
                            <a href="/admin/slides" type="button" class="w-100 btn btn-lg btn-outline-primary">View All</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Statistic</h2>
                            <a href="/admin/stats" type="button" class="w-100 btn btn-lg btn-outline-primary">View All</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Members</h2>
                            <a href="/admin/members" type="button" class="w-100 btn btn-lg btn-outline-primary">View All</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Setting</h2>
                            <a href="/admin/setting" type="button" class="w-100 btn btn-lg btn-outline-primary">Go to setting</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    </body>
{% endblock %}
