{% extends 'admin/base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        .bg-purple{
            background-color: purple;
        }
    </style>

<body class="bg-light">
<div class="container">

    {% if action == 'pages' %}
        {% include 'admin/inc/pagesInc.html.twig' %}
    {% endif %}

    {% if action == 'urls' %}
        {% include 'admin/inc/urlsInc.html.twig' %}
    {% endif %}

    {% if action == 'slides' %}
        {% include 'admin/inc/slidesInc.html.twig' %}
    {% endif %}

    {% if action == 'members' %}
        {% include 'admin/inc/membersInc.html.twig' %}
    {% endif %}

    {% if action == 'setting' %}
        {% include 'admin/inc/settingInc.html.twig' %}
    {% endif %}

    {% if action == 'stats' %}
        {% include 'admin/inc/statsInc.html.twig' %}
    {% endif %}
</div>

</body>
{% endblock %}