{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <form method="post">

            <div class="row">
                <div class="col-md-4 offset-md-4 mt-4">
                    <div class="card p-2 bg-light">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                        <label for="inputEmail">Email</label>
                        <input type="text" value="" name="email" id="inputEmail" class="form-control" required autofocus>

                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <label for="inputPassword">Password Again</label>
                        <input type="password" name="passwordagain" id="inputPassword" class="form-control" required>

                        <div class="d-grid gap-2">
                            <button class="mt-4 btn btn-lg btn-info" type="submit">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
